In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [3]:
# Read the data from the csv file
df = pd.read_csv(r"D:\Guvi\Projects\Churn Rate Classification\Dataset\churnrate_data.csv")
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,24291,1,24.0,R,580.0,0,0,0,0,0,...,0,0,0,0,Leo,0,0,32.0,1.07,1
26996,4116,1,26.0,na,NaN,0,0,2,0,0,...,0,0,0,1,Cancer,1,0,2.0,0.67,0
26997,23740,0,22.0,na,NaN,0,0,37,0,0,...,0,0,0,0,Taurus,0,0,28.0,0.93,0
26998,47663,1,46.0,na,529.0,2,0,16,2,0,...,0,0,0,0,Aries,1,0,27.0,0.90,1
26999,52752,1,34.0,na,525.0,0,0,4,0,0,...,0,0,0,0,Cancer,0,0,4.0,0.13,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     27000 non-null  int64
 1   churn                    27000 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  27000 non-null  object
 4   credit_score             18969 non-null  float64
 5   deposits                 27000 non-null  int64
 6   withdrawal               27000 non-null  int64
 7   purchases_partners       27000 non-null  int64
 8   purchases                27000 non-null  int64
 9   cc_taken                 27000 non-null  int64
 10  cc_recommended           27000 non-null  int64
 11  cc_disliked              27000 non-null  int64
 12  cc_liked                 27000 non-null  int64
 13  cc_application_begin     27000 non-null  int64
 14  app_downloaded           27000 non-null  int64
 15  web_user                 27000 non-null  int64
 16  app_web_user             27000 non-null  int64
 17  ios_user                 27000 non-null  int64
 18  android_user             27000 non-null  int64
 19  registered_phones        27000 non-null  int64
 20  payment_type             27000 non-null  object
 21  waiting_4_loan           27000 non-null  int64
 22  cancelled_loan           27000 non-null  int64
 23  received_loan            27000 non-null  int64
 24  rejected_loan            27000 non-null  int64
 25  zodiac_sign              27000 non-null  object
 26  left_for_two_month_plus  27000 non-null  int64
 27  left_for_one_month       27000 non-null  int64
 28  rewards_earned           23773 non-null  float64
 29  reward_rate              27000 non-null  float64
 30  is_referred              27000 non-null  int64
dtypes: float64(4), int64(24), object(3)
memory usage: 6.4+ MB

In [5]:
# Print the number of null values under each column
print("Null values per column:")
print(df.isna().sum())

Null values per column:
user                          0
churn                         0
age                           4
housing                       0
credit_score               8031
deposits                      0
withdrawal                    0
purchases_partners            0
purchases                     0
cc_taken                      0
cc_recommended                0
cc_disliked                   0
cc_liked                      0
cc_application_begin          0
app_downloaded                0
web_user                      0
app_web_user                  0
ios_user                      0
android_user                  0
registered_phones             0
payment_type                  0
waiting_4_loan                0
cancelled_loan                0
received_loan                 0
rejected_loan                 0
zodiac_sign                   0
left_for_two_month_plus       0
left_for_one_month            0
rewards_earned             3227
reward_rate                   0
is_referred                   0
dtype: int64

In [6]:
# Remove the columns with high number of null values
df.drop(columns=['credit_score','rewards_earned'],inplace=True)

In [7]:
# Make the age attribute non-null
df = df[pd.notnull(df['age'])]
df['age']
# So the 4 rows will be deleted

0        37.0
1        28.0
2        35.0
3        26.0
4        27.0
         ...
26995    24.0
26996    26.0
26997    22.0
26998    46.0
26999    34.0
Name: age, Length: 26996, dtype: float64

In [8]:
print("Null values per column finally")
print(df.isna().sum())

Null values per column finally
user                       0
churn                      0
age                        0
housing                    0
deposits                   0
withdrawal                 0
purchases_partners         0
purchases                  0
cc_taken                   0
cc_recommended             0
cc_disliked                0
cc_liked                   0
cc_application_begin       0
app_downloaded             0
web_user                   0
app_web_user               0
ios_user                   0
android_user               0
registered_phones          0
payment_type               0
waiting_4_loan             0
cancelled_loan             0
received_loan              0
rejected_loan              0
zodiac_sign                0
left_for_two_month_plus    0
left_for_one_month         0
reward_rate                0
is_referred                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26996 entries, 0 to 26999
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user                     26996 non-null  int64
 1   churn                    26996 non-null  int64
 2   age                      26996 non-null  float64
 3   housing                  26996 non-null  object
 4   deposits                 26996 non-null  int64
 5   withdrawal               26996 non-null  int64
 6   purchases_partners       26996 non-null  int64
 7   purchases                26996 non-null  int64
 8   cc_taken                 26996 non-null  int64
 9   cc_recommended           26996 non-null  int64
 10  cc_disliked              26996 non-null  int64
 11  cc_liked                 26996 non-null  int64
 12  cc_application_begin     26996 non-null  int64
 13  app_downloaded           26996 non-null  int64
 14  web_user                 26996 non-null  int64
 15  app_web_user             26996 non-null  int64
 16  ios_user                 26996 non-null  int64
 17  android_user             26996 non-null  int64
 18  registered_phones        26996 non-null  int64
 19  payment_type             26996 non-null  object
 20  waiting_4_loan           26996 non-null  int64
 21  cancelled_loan           26996 non-null  int64
 22  received_loan            26996 non-null  int64
 23  rejected_loan            26996 non-null  int64
 24  zodiac_sign              26996 non-null  object
 25  left_for_two_month_plus  26996 non-null  int64
 26  left_for_one_month       26996 non-null  int64
 27  reward_rate              26996 non-null  float64
 28  is_referred              26996 non-null  int64
dtypes: float64(2), int64(24), object(3)
memory usage: 6.2+ MB

In [10]:
df.columns

Index(['user', 'churn', 'age', 'housing', 'deposits', 'withdrawal',
       'purchases_partners', 'purchases', 'cc_taken', 'cc_recommended',
       'cc_disliked', 'cc_liked', 'cc_application_begin', 'app_downloaded',
       'web_user', 'app_web_user', 'ios_user', 'android_user',
       'registered_phones', 'payment_type', 'waiting_4_loan', 'cancelled_loan',
       'received_loan', 'rejected_loan', 'zodiac_sign',
       'left_for_two_month_plus', 'left_for_one_month', 'reward_rate',
       'is_referred'],
      dtype='object')

In [11]:
# Remove columns that are mostly not useful for the classification task
df = df.drop(columns=['app_web_user','user'])

In [12]:
# Performing encding on the attributes
# One-hot encoding
df = pd.get_dummies(df, dtype=int)
df.columns

Index(['churn', 'age', 'deposits', 'withdrawal', 'purchases_partners',
       'purchases', 'cc_taken', 'cc_recommended', 'cc_disliked', 'cc_liked',
       'cc_application_begin', 'app_downloaded', 'web_user', 'ios_user',
       'android_user', 'registered_phones', 'waiting_4_loan', 'cancelled_loan',
       'received_loan', 'rejected_loan', 'left_for_two_month_plus',
       'left_for_one_month', 'reward_rate', 'is_referred', 'housing_O',
       'housing_R', 'housing_na', 'payment_type_Bi-Weekly',
       'payment_type_Monthly', 'payment_type_Semi-Monthly',
       'payment_type_Weekly', 'payment_type_na', 'zodiac_sign_Aquarius',
       'zodiac_sign_Aries', 'zodiac_sign_Cancer', 'zodiac_sign_Capricorn',
       'zodiac_sign_Gemini', 'zodiac_sign_Leo', 'zodiac_sign_Libra',
       'zodiac_sign_Pisces', 'zodiac_sign_Sagittarius', 'zodiac_sign_Scorpio',
       'zodiac_sign_Taurus', 'zodiac_sign_Virgo', 'zodiac_sign_na'],
      dtype='object')

In [13]:
# Drop a  few more columns
df = df.drop(columns=['housing_na','zodiac_sign_na','payment_type_na'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26996 entries, 0 to 26999
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   churn                      26996 non-null  int64
 1   age                        26996 non-null  float64
 2   deposits                   26996 non-null  int64
 3   withdrawal                 26996 non-null  int64
 4   purchases_partners         26996 non-null  int64
 5   purchases                  26996 non-null  int64
 6   cc_taken                   26996 non-null  int64
 7   cc_recommended             26996 non-null  int64
 8   cc_disliked                26996 non-null  int64
 9   cc_liked                   26996 non-null  int64
 10  cc_application_begin       26996 non-null  int64
 11  app_downloaded             26996 non-null  int64
 12  web_user                   26996 non-null  int64
 13  ios_user                   26996 non-null  int64
 14  android_user               26996 non-null  int64
 15  registered_phones          26996 non-null  int64
 16  waiting_4_loan             26996 non-null  int64
 17  cancelled_loan             26996 non-null  int64
 18  received_loan              26996 non-null  int64
 19  rejected_loan              26996 non-null  int64
 20  left_for_two_month_plus    26996 non-null  int64
 21  left_for_one_month         26996 non-null  int64
 22  reward_rate                26996 non-null  float64
 23  is_referred                26996 non-null  int64
 24  housing_O                  26996 non-null  int64
 25  housing_R                  26996 non-null  int64
 26  payment_type_Bi-Weekly     26996 non-null  int64
 27  payment_type_Monthly       26996 non-null  int64
 28  payment_type_Semi-Monthly  26996 non-null  int64
 29  payment_type_Weekly        26996 non-null  int64
 30  zodiac_sign_Aquarius       26996 non-null  int64
 31  zodiac_sign_Aries          26996 non-null  int64
 32  zodiac_sign_Cancer         26996 non-null  int64
 33  zodiac_sign_Capricorn      26996 non-null  int64
 34  zodiac_sign_Gemini         26996 non-null  int64
 35  zodiac_sign_Leo            26996 non-null  int64
 36  zodiac_sign_Libra          26996 non-null  int64
 37  zodiac_sign_Pisces         26996 non-null  int64
 38  zodiac_sign_Sagittarius    26996 non-null  int64
 39  zodiac_sign_Scorpio        26996 non-null  int64
 40  zodiac_sign_Taurus         26996 non-null  int64
 41  zodiac_sign_Virgo          26996 non-null  int64
dtypes: float64(2), int64(40)
memory usage: 8.9 MB

In [14]:
df

,churn,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,...,zodiac_sign_Cancer,zodiac_sign_Capricorn,zodiac_sign_Gemini,zodiac_sign_Leo,zodiac_sign_Libra,zodiac_sign_Pisces,zodiac_sign_Sagittarius,zodiac_sign_Scorpio,zodiac_sign_Taurus,zodiac_sign_Virgo
0,0,37.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,28.0,0,0,1,0,0,96,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,35.0,47,2,86,47,0,285,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,26.0,26,3,38,25,0,74,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,27.0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,1,24.0,0,0,0,0,0,81,0,0,...,0,0,0,1,0,0,0,0,0,0
26996,1,26.0,0,0,2,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
26997,0,22.0,0,0,37,0,0,98,0,0,...,0,0,0,0,0,0,0,0,1,0
26998,1,46.0,2,0,16,2,0,58,0,0,...,0,0,0,0,0,0,0,0,0,0
26999,1,34.0,0,0,4,0,0,11,0,0,...,1,0,0,0,0,0,0,0,0,0

In [16]:
# Split the data into train and test data
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['churn']),df['churn'],test_size=0.3)

In [17]:
# Check for class imbalance
print("Count of each class in the training set:")
y_train.value_counts()

Count of each class in the training set:

churn
0    11067
1     7830
Name: count, dtype: int64

In [19]:
# Resample to handle class imbalance

positive = y_train[y_train.values == 1]
negative = y_train[y_train.values == 0]
if len(positive) > len(negative):
    high = positive
    low = negative
else:
    high = negative
    low = positive

df_resample = resample(high, replace = False, n_samples = int(low.value_counts()))

C:\Users\rpsat\AppData\Local\Temp\ipykernel_4300\2160105452.py:12: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_resample = resample(high, replace = False, n_samples = int(low.value_counts()))

In [20]:
df_resample.info()

<class 'pandas.core.series.Series'>
Index: 7830 entries, 9816 to 7314
Series name: churn
Non-Null Count  Dtype
--------------  -----
7830 non-null   int64
dtypes: int64(1)
memory usage: 122.3 KB

In [22]:
# Standardize the data
sc_x = StandardScaler()
x_train = pd.DataFrame(sc_x.fit_transform(X_train))
x_test = pd.DataFrame(sc_x.fit_transform(X_test))

x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,-0.623387,-0.258383,-0.290584,4.391234,-0.366811,-0.163313,1.598901,-0.061739,-0.049727,-0.259093,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477
1,-0.824928,-0.258383,-0.290584,-0.519797,-0.256015,-0.163313,-0.877610,-0.061739,-0.049727,-0.498436,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,3.422965,-0.303101,-0.312477
2,-1.228009,0.067671,0.653726,1.140599,0.076374,-0.163313,0.484471,-0.061739,-0.049727,-0.179312,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,3.484418,-0.292144,-0.303101,-0.312477
3,-0.321076,-0.367067,-0.290584,-0.660112,-0.366811,-0.163313,-0.922638,-0.061739,-0.049727,-0.657998,...,-0.310125,-0.159183,-0.295121,3.207574,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477
4,-0.925698,2.784786,0.653726,0.485795,2.846280,-0.163313,1.677699,-0.061739,-0.049727,-0.498436,...,3.224510,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477

In [23]:
# Add Columns to New Dataframes
x_train.columns = X_train.columns.values
x_test.columns = X_test.columns.values

x_train.head()

,age,deposits,withdrawal,purchases_partners,purchases,cc_taken,cc_recommended,cc_disliked,cc_liked,cc_application_begin,...,zodiac_sign_Cancer,zodiac_sign_Capricorn,zodiac_sign_Gemini,zodiac_sign_Leo,zodiac_sign_Libra,zodiac_sign_Pisces,zodiac_sign_Sagittarius,zodiac_sign_Scorpio,zodiac_sign_Taurus,zodiac_sign_Virgo
0,-0.623387,-0.258383,-0.290584,4.391234,-0.366811,-0.163313,1.598901,-0.061739,-0.049727,-0.259093,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477
1,-0.824928,-0.258383,-0.290584,-0.519797,-0.256015,-0.163313,-0.877610,-0.061739,-0.049727,-0.498436,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,3.422965,-0.303101,-0.312477
2,-1.228009,0.067671,0.653726,1.140599,0.076374,-0.163313,0.484471,-0.061739,-0.049727,-0.179312,...,-0.310125,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,3.484418,-0.292144,-0.303101,-0.312477
3,-0.321076,-0.367067,-0.290584,-0.660112,-0.366811,-0.163313,-0.922638,-0.061739,-0.049727,-0.657998,...,-0.310125,-0.159183,-0.295121,3.207574,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477
4,-0.925698,2.784786,0.653726,0.485795,2.846280,-0.163313,1.677699,-0.061739,-0.049727,-0.498436,...,3.224510,-0.159183,-0.295121,-0.311762,-0.29321,-0.290755,-0.286992,-0.292144,-0.303101,-0.312477

In [25]:
# Use Logistic Regression as classifier
model = LogisticRegression(class_weight = None, solver = 'newton-cg', max_iter = 10000)
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

# Obtain the results of the classification
from sklearn.metrics import classification_report, accuracy_score
print("Accuracy with Logistic Regression Model")
print(accuracy_score(y_test,y_pred))

print("Classification Report with Logistic Regression Model")
print(classification_report(y_test,y_pred))

Accuracy with Logistic Regression Model
0.6462526237807137
Classification Report with Logistic Regression Model
              precision    recall  f1-score   support

           0       0.68      0.76      0.72      4755
           1       0.59      0.48      0.53      3344

    accuracy                           0.65      8099
   macro avg       0.63      0.62      0.62      8099
weighted avg       0.64      0.65      0.64      8099

In [27]:
# Use Random forest classifier
clf = RandomForestClassifier(n_estimators = 100)
# Train the model
clf.fit(x_train,y_train)
# Predict
y_pred = clf.predict(x_test)

# Evaluate Random forest classifier
print("Accuracy with Random forest classifier Model")
print(accuracy_score(y_test,y_pred))

print("Classification Report with Random forest classifier Model")
print(classification_report(y_test,y_pred))

Accuracy with Random forest classifier Model
0.7049018397333005
Classification Report with Random forest classifier Model
              precision    recall  f1-score   support

           0       0.73      0.79      0.76      4755
           1       0.66      0.58      0.62      3344

    accuracy                           0.70      8099
   macro avg       0.70      0.69      0.69      8099
weighted avg       0.70      0.70      0.70      8099